.feedback {
  background: linear-gradient(to bottom, #890000, #cd121c);
}

.btn_feedback {
  font-size: 13px;
  margin-top: 18px;
  width: 28%;
  height: 6vh;
  border: 1px solid grey;
  border-radius: 12px;
  color: rgb(100, 98, 98);
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.btn_feedback:hover {
  color: white;
  font-size: 16px;
  background-color: #a72020;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition-duration: 0.3s;
}

.btn_active {
  background-color: #a72020; 
  color: white;
  transform: translateY(0); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}

.star {
  font-size: 50px;
  color: #ccc;
  transition: color 0.2s ease;
}
.star:hover {
  color: gold;
}
.star.selected {
  color: gold;
}

.caixafeedback:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  
}

#nome,
#email,
#areatexto {
  width: 24vw;
  margin-top: 30px;
  font-size: 13px;
}

#nome,
#email {
  border: none;
  border-bottom: 3px solid brown;
  outline: none;
}

#areatexto {
  border: 3px solid brown;
}

/* Botão Enviar */
#botaoenviar {
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
/* From Uiverse.io by adamgiebl */
#enviar {
  flex-direction: row;
  font-size: 20px;
  background: brown;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-bottom: 1.2rem;
  
}

#enviar:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#enviar span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;

}

#enviar svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

#icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bx.bxl-facebook, .bx.bxl-instagram, .bx.bxl-tiktok{
  border-radius: 50%;
  margin: 0px 35px 35px 35px;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 30px;
  
}



.bx.bxl-facebook:hover, .bx.bxl-instagram:hover, .bx.bxl-tiktok:hover{
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}